.root-layout
  min-height: 100%
  .header
    padding: 0
    .header-menu
      display: flex
      justify-content: flex-end
      :global(.ant-menu-item-selected::after)
        border-bottom-width: unset!important
        border-bottom-color: unset!important